
.box {
	border: 1px solid black;
	margin-right: 10px;
	margin-top: 10px;
 	font-size: 16px;	
    padding-top:5px;
    padding-bottom:5px;
}
.patRow {
	clear: both;
}
#repoName {
	float: left;
}
#repoBM {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded {
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
}


.form-group label {
    font-size: 22px;
}
.form-group button {
    font-size: 14px;
}

.form-group input {
    font-size: 14px;
}

.repoAvatar {
    max-height:200px;
    min-height:200px;
}